<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>www.govtapac.in</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="public/stylesheets/home.css">

</head>

<body>
  
        <header class=" header">
            <h2 class="text-center p-3 heading">
                Happy April fool!! &nbsp;&nbsp; 
                 you are fooled !!!
                 
                
            </h2>
            
        </header>
           
    
        <main class="main ">
            <h2 class="text-center text-danger">Know April Fool's Day</h2>
            <p class="text-center text-center text-white">
                
                April Fools’ Day, also called All Fools’ Day, in most countries the first day of April. It received its name
                from the custom of playing practical jokes on this day—for example, telling friends that their shoelaces are
                untied or sending them on so-called fools’ errands. Although the day has been observed for centuries, its
                true origins are unknown and effectively unknowable. It resembles festivals such as the Hilaria of ancient
                Rome, held on March 25, and the Holi celebration in India, which ends on March 31.
                <br>
                Explore the origins of the April Fools' Day holiday
                Explore the origins of the April Fools' Day holidaySee all videos for this article
                Some have proposed that the modern custom originated in France, officially with the Edict of Roussillon
                (promulgated in August 1564), in which Charles IX decreed that the new year would no longer begin on Easter,
                as had been common throughout Christendom, but rather on January 1. Because Easter was a lunar and therefore
                moveable date, those who clung to the old ways were the “April Fools.” Others have suggested that the timing
                of the day may be related to the vernal equinox (March 21), a time when people are fooled by sudden changes
                in the weather.
    
                There are variations between countries in the celebration of April Fools’ Day, but all have in common an
                excuse to make someone play the fool. In France, for example, the fooled person is called poisson d’avril
                (“April fish”), perhaps in reference to a young fish and hence to one that is easily caught; it is common
                for French children to pin a paper fish to the backs of unsuspecting friends. In Scotland the day is Gowkie
                Day, for the gowk, or cuckoo, a symbol of the fool and the cuckold, which suggests that it may have been
                associated at one time with sexual license; on the following day signs reading “kick me” are pinned to
                friends’ backs. In many countries newspapers and the other media participate—for example, with false
                headlines or news stories.
                </p>
        </main>
        <footer class="footer bg-dark  ">
            
            <p class="text-muted">Made with 🤍&commat;gongkap. </p>
           
        </footer>
           

        

 

</body>

</html>