<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>www.govtapac.in</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="public/stylesheets/home.css">

</head>

<body>

    <header class=" header">
        <h2 class="text-center p-3 heading">
            Happy April fool!! &nbsp;&nbsp;
            you are fooled !!!


        </h2>

    </header>


    <main class="main text-center">
        <h2 class="text-center text-danger">Know April Fool's Day</h2>
        <p class="text-center text-center text-white">

            April Fools’ Day, also called All Fools’ Day, in most countries the first day of April. It received its name
            from the custom of playing practical jokes on this day—for example, telling friends that their shoelaces are
            untied or sending them on so-called fools’ errands. Although the day has been observed for centuries, its
            true origins are unknown and effectively unknowable. It resembles festivals such as the Hilaria of ancient
            Rome, held on March 25, and the Holi celebration in India, which ends on March 31.
        </p>
        <a href="https://www.britannica.com/topic/April-Fools-Day">know more</a>
    </main>
    <footer class="footer bg-dark  ">

        <p class="text-muted text-center">Made with 🤍&commat;gongkap. </p>

    </footer>






</body>

</html>