body{
    background-color: #343f4f;
    color: white;
}

.header h2{
    color: rebeccapurple;
}
main{
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    
}
@keyframes myanimation {
    from{
        font-size:1rem;
        color:blue;
    }
    to{
        font-size:2rem;
        color:orange;
    }
}
.heading{
   
    animation-name: myanimation;
    animation-duration:.7s;
    animation-fill-mode: none;
    animation-iteration-count: 3;
 
   
}
.footer{
   
    width: 100%;
    height: 10vh;
    display: grid;
    place-items: center;
}
@media (max-width:768px){
   
    main{
        margin: 10px auto;
        width: 100%;
        padding: 10px;
        
    }
    main h2{
        font-size: 1.5rem;
    }
    @keyframes myanimation {
        from{
            font-size:.5rem;
            color:blue;
        }
        to{
            font-size:1rem;
            color:orange;
        }
    }

}
